html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.litlesize {
    width: 40px;
    height: 40px;
    margin : 5px;
}

.conteneur {
    position: relative;
    display: inline-block;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.menu a:hover {
    background-color: #ddd;
}

.conteneur:hover .menu,
.menu:hover {
    display: block;
}

.conteneur:hover .menu,
.menu:hover {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

.titreSeparateur {
    color: #000000;
    padding: 5px 0;
    font-family: Viga;
    font-size: 1.5rem;
    background-color: #DAD6D6;
    text-align: center;
    margin: 20px 0;
}