nav {
    font-family: Viga;
    border-bottom: solid 4px #005e51;
    background-color: #fff;
}

.dropdown-menu {
    background-color: #005e51;
}

.dropdown-item {
    color: #ffff;
}

.dropdown-divider {
    border-top: 5px solid;
}

#navbarDarkDropdownMenuLink {
    color: #005e51;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,94,81)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: 1px solid;
    border-color: #005e51;
    border-radius: 5px;
}