@page
@model VignobleWEB.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Compte bloquée";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ce compte a été bloqué, veuillez réessayer plus tard.</p>
</header>
